@import url(https://fonts.googleapis.com/css?family=Muli);

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

body {
	margin: 0;
	background-color: #FFFDEF;
	font-family: "Muli", sans-serif;
}

.main-blue {
	background-color: #2C7E8E !important;
}

.dark-blue {
	background-color: #2B6A8C !important;
}

.loading-background {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #FFFDEF;
	z-index: 2;
	top: 0;
}

.loading-logo {
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
	height: 300px;
	width: 300px;
	-webkit-animation:spin 2s linear infinite;
	-moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
	/*background-color: black;*/
}

.main-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #FFFDEF;
	background-image: url("../images/background.jpg");
	background-size: cover;
	opacity: 0.5;
	z-index: -1;
}

.circle-maker {
	position: absolute;
	margin: auto;
	top: 50; right: 0; left: 0; bottom: 0;
	border-radius: 150px;
	width: 300px;
	height: 300px;
	background-color: #2C7E8E;
	z-index: 1;
}

.profile-pic {
	position: absolute;
	margin: auto;
	top: 0; right: 0; left: 0; bottom: 0;
	width: 280px;
	height: 280px;
	border-radius: 280px;
	background-image: url("../images/felix.jpg");
	background-size: cover;
}

.introduction {
	position: relative;
	margin: auto;
	height: 50px;
	/*bottom: 150;*/
	/*bottom: 20%;*/
	width: 100%;
	color: #FFFDEF;
	text-align: center;
	font-size: 50px;
	padding-top: 190px;
}

/*.introduction-page {
	position: relative;
	height: 40%;
	width: 100%;
}*/

#introduction-paragraph {
	margin: 0 auto;
	position: relative;
	font-size: 25px;
	width: 70%;
	/*text-align: justify;*/
}

.custom-arrow {
	position: absolute;
	margin: auto;
	text-align: center;
	right: 0; left: 0; bottom: 15;
	color: #FFFDEF;
	opacity: 0;
}

.light-blue {
	color: #2C7E8E;
	font-weight: bold;
}

.top-folder {
	position: relative;
	width: 100%;
	height: 50%;
	background-color: #2C7E8E;
	min-height: 300px;
}

.project-page {
	position: relative;
	width: 100%;
	/*height: 50%;*/
	background-color: #74AFAB;
	overflow: hidden;
}

.container {
	width: 70%;
	position: relative;
	margin: auto;
}

.project-picture {
	position: relative;
	float: left;
	height: 400px;
	/*height: 100%;*/
	/*height: 50%;*/
	width: calc(100% / 2 );
	/*background-color: black;*/
}

.project-description {
	position: relative;
	float: right;
	/*height: 100%;*/
	width: calc(100% / 2);
}

.invert-picture {
	float: right;
}

.invert-description {
	float: left;
}

.project-description-paragraph {
	position: relative;
	font-size: 20px;
	margin: 0;
	text-align: justify;
	color: #FFFDEF;
}

.project-picture-holder {
	position: absolute;
	margin: auto;
	top: 0; left: 0; right: 0; bottom: 0;
	height: 300px;
	width: 300px;
	border-radius: 300px;
	background-color: #FFFDEF;
	background-image: url(../images/voyager.png);
	background-size: cover;
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	border: 5px transparent solid;
}

.project-picture-holder:hover {
	cursor: pointer;
}

.decal-picture {
	background-image: url(../images/decal.png);
}

.mousehunt-picture {
	background-image: url(../images/mousehunt.jpg);
}

.surveymonkey-logo {
	background-image: url(../images/surveymonkey-logo.svg);
}

.company-page {
	position: relative;
	background-color: #FFFDEF;
	/*height: 50%;*/
	width: 100%;
}

.company-logo {
	/*height: 100px;*/
	/*height: 20%;*/
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.company-logo img {
	/*max-height: 50%;*/
	max-height: 90px;
	/*height: 100px;*/
	/*max-height: 100%;*/
	max-width: 100%;
}

.company-whitespace {
	width: 100%;
	height: 20%;
	position: relative;
}

.company-description {
	/*height: 64%;*/
	width: 100%;
	/*background-color: black;*/
}

.company-description-paragraph {
	color: black;
	font-size: 20px;
	margin: 0;
	text-align: justify;
}

.company-container {
	width: 70%;
	margin: auto;
}

.footer {
	height: 200px;
	width: 100%;
	background-color: #2C7E8E;
	overflow: auto;
}

.links {
	height: 50%;
	width: 100%;
}

.icons {
	height: 75%;
	width: 100%;
	text-align: center;
}

.custom-link {
	color: #FFFDEF;
	margin-left: 5px;
	margin-right: 5px;
}

.custom-link:hover {
	cursor: pointer;
}

.copyright {
	text-align: center;
	color: #FFFDEF;
}

#content {
	font-family: 'Muli', sans-serif;
}